body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}
  
.container {
    text-align: center;
    color: aquamarine;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    border: 2px solid blue;
    padding: 20px;
    background-color: #4b3d3d;
}